@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="mt-3" height="250" width="250" src="~/img/BugTracker.png" />
    <h1 class="display-4 mt-3">Welcome to The Bug Tracker</h1>
    <p>
        A custom designed .NET Core application with PostgreSQL database.
        <br />The application is a multi-tenant application designed to track issue tickets' progress.
        <br />Implemented with identity and user roles, tickets are maintained in projects which are maintained by users in the role of project manager.
        <br />Each project has a team and team members.
    </p>
    <p>Click log in to try a demo account or log in with your account.</p>
</div>

<!-- Redeploy on Railway -->
<!-- Remove on next change -->