@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Bug Tracker</h1>
    <p>
        A custom designed .NET Core application with PostgreSQL database.
        <br />The application is a multi-tenant application designed to track issue tickets' progress.
        <br />Implemented with identity and user roles, tickets are maintained in projects which are maintained by users in the role of project manager.
        <br />Each project has a team and team members.
    </p>
    <p>Click "<a href="https://localhost:44341/Identity/Account/Login">Log In</a>" in the menu on the left to use your account or try a demo account.</p>

</div>
